:root {
    --color-greyBlue: #34547A;
}


body {
font-family: 'Roboto', Arial, sans-serif ;
margin: 0 0 0 0;
padding: 0 0 0 0 ;
border: 0 0 0 0 ;
}

.base {
    font-family: 'Roboto', Arial, sans-serif;
    margin:0 auto;
    max-width: 1920px;
    height: 100%;
    width: 100%;
    padding: 0 0 0 0 ;
    border: 0 0 0 0 ;
}
A {
    color: rgb(0, 0, 0); /* Цвет ссылок */
    text-decoration: none;

}
A:visited {
    color: #000000; /* Цвет посещенных ссылок */
   }
A:active {
    color: #000000; /* Цвет активных ссылок */
}

// first-screen


.firstScreen {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    min-height: 700px;
    // background-color: #eeeff1;
}
.firstScreenNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // justify-self: flex-start;
    // align-self: flex-start;
    max-width: 1120px;
    width: 100%;
    margin: 0 0 0 0 ;
    // background-color: lawngreen;
}
.firstScreenNavWD img {
    display: flex;
    width: 90px;
    height: 44px;
    margin: 57px 0 ;
    // font-family: 'Revalia';
    // font-size: 48px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: 60px;
    // letter-spacing: 0em;
    // text-align: center;
    // color: var(--color-greyBlue);
    // background-color: lightcoral;


}
.firstScreen_nav_right {
    display: flex;
    width: 100%;
    grid: 1;
    // background-color: aqua;
    justify-content: flex-end;
}
.firstScreenNavMenu {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: left;
    max-width: 620px;
    width: 100%;
    color: black;
}

@media(max-width: 767px){
    .menu-burger__header {
        position: relative; /* задаем относительное позиционирование */
        width: 40px; /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-right: 20px;
    }
    // Рисуем бургер
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
        z-index: 3;
    }
    .menu-burger__header span{
        top: 16px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 5px;
    }
    .firstScreen_nav_right {
        
            display: block;
            position: absolute;
            top: 105px;
            left: 0;
            // background: rgb(245, 246, 246);
            // box-shadow: #ccc;
            width: 100%;
            // box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
            left: -100%;
            transition: all 0.4s ease;
            background-color: var(--color-greyBlue);

        
    }
    .firstScreen_nav_right.open-menu {
        left: 0;   
    
    }

    .firstScreenNavMenu {
        display: block;
            overflow:auto ; /*для того, чтобы меню скроллилось в случае, если оно не влезает на экран*/


    }
    .firstScreenNavMenu a {
      display: block;
        margin: 40px 0px 40px 33px;
    font-size: 14px;
    color: #fff;

    
    }


    // После клика по иконке делаем крестик
    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;

    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;

    }
//Блокируем прокрутку страницы под меню
    .fixed-page{
        overflow: hidden; /*запрещаем прокручивание страницы при открытом меню*/
    }
}


.firstScreenContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    // align-items: center;
    // justify-self: flex-end;
    // align-self: flex-end;
    max-width: 1120px;
    width: 100%;
    margin: 0 0 140px 0 ;
    // background-color: rgb(150, 41, 101);

}
.firstScreenContentLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: aquamarine;
}
.firstScreenContentLeft img {
    padding: 20px 0;
    width: 357px;
    height: 234px;
}
.firstScreenContentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 540px;
    width: 100%;
    margin: 0 0 0 143px;
}
.firstScreenContentRight h1 {
    font-size: 48px;
    font-style: normal;
    // align-self: flex-start;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    // background-color: forestgreen;
    margin: 0 0 0 0;
}
.firstScreenContentRight main {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    // background-color:gold


}
.firstScreenContentRight button {
    height: 65px;
    width: 225px;
    border-radius: 0px;
    background-color: var(--color-greyBlue);
    color:#fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
}


//about-me


.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    min-height: 366px;
}
.aboutMeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 540px;
    width: 100%;
    min-height: 166px;
}
.aboutMeContent h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}
.aboutMeContent p {

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

}


// numbers

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    min-height: 250px;
    background-color: var(--color-greyBlue);
}
.numbersContent {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    width: 100%;
}
.numbersContentAll {
    display: flex;
    // justify-content: space-between;
    max-width: 180px;
    width: 100%;
    height: 55px;
    // background-color: gold;
}
.numbersContentAll img{
    width: 55px;
    height: 55px;
    // background-color: gray;
    margin:  0 20px 0 0;
}
.numbersContentAll h3 {
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    // background-color: green;
    margin: 3px 0 0 0 ;
}
.numbersContentAll p {
    font-size: 16px;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    // background-color: hotpink;
    margin: 0 0 0 0 ;
}


//skills


.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    min-height: 653px;
    // background-color: green;
}
.skillsContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    min-height: 450px;
    // background-color: rgb(93, 199, 79);
}
.skillsContent img {
    height: 450px;
    width: 555px;
}
.skillsContentLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1120px;
    width: 100%;
    min-height: 450px;
    // background-color: blue;
}
.skillsContentLeft h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}
.skillsContentLeft p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}
.skillsContentLeft progress {
    /* Отключаем стиль (как правило, не требуется, но на всякий случай)  */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* Убираем границы по умолчанию в Firefox и Opera */
    border: none;
    /* Чтобы фоновое изображение в Safari работало, как надо */
    background-size: auto;
}
// Изменяем цвет фона элемента
/* Firefox  */
.skillsContentLeft progress {
    background: #c4c4c4;
    height: 4px;
    width: 445px;
    border-radius: 0;
}
/* Chrome */
.skillsContentLeft progress::-webkit-progress-bar {
    background: #c4c4c4;
    height: 4px;
    width: 445px;
    border-radius: 0;
}
// Изменяем цвет значения элемента
/* IE10 */
.skillsContentLeft progress {
    color: #34547A;
    }
    /* Firefox */
.skillsContentLeft progress::-moz-progress-bar {
    background: #34547A;
    }
    /* Chrome */
.skillsContentLeft progress::-webkit-progress-value {
    background: #34547A;
    }


// video


.video {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    min-height: 1004px;
    background-color: #eeeff1;

}
.videoDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    min-height: 804px;
    // background-color: green;
}
.videoDescription h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 0 0 0;
    // background-color: rgb(53, 36, 146);
}
.videoDescription p {
    max-width: 540px;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    // background-color: rgb(197, 171, 22);
}


.hidden {
    display: none !important;
  }
  .wrapper {
    box-sizing: border-box;
    max-width: 1110px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: aqua;
  }
  /* -------------------------------------------------------------------------
     begin Video Youtube
   * ------------------------------------------------------------------------- */
  .video-youtube {
    box-sizing: border-box;

    position: relative;
    padding-bottom: 55.0%;
    // padding-top: 25px;
    // padding: 0;
    margin: 0;
    border: 0;
    height: 0;
    &.video-youtube_overlay {
      &:before {
        box-sizing: border-box;

        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 5;
      }
    }
  
    .video-youtube__content {
        box-sizing: border-box;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &.video-youtube__content_hide-origin-play-btn {
        width: 10000%;
        height: 10000%;
        transform: scale(.01);
        transform-origin: top left;
        &::selection {
          background-color: transparent;
        }
      }
    }
    .video-youtube__new-play-btn {
        box-sizing: border-box;
    //   max-width: 1110px;
    //   max-height: 600px;
    // width: 1110px;
    // height: 600px;
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      background-image: url(..\images\dest\VideoFonBtn.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      cursor: pointer;
    }
  }
  /* -------------------------------------------------------------------------
     end Video Youtube
   * ------------------------------------------------------------------------- */
  
.videoVideo {
    position: relative;
    // background-color: rgb(137, 167, 196);
}
.videoPlayButton {
    height: 100px;
    width: 100px;
    border-radius: 0px;
    color: #fff;
    position: absolute;
    background-color: rgba(216, 122, 15, 0%);
    // overflow: auto;
    margin: auto;
    border: 0;
    padding: 0;
    top: 0; left: 0; bottom: 0; right: 0;
}
.videoPlayButton img {
    height: 100px;
    width: 100px;
}


//projecks


.projects {
    display: block;

    display: flex;
    max-width: 1920px;
    // min-height: 960px;
    // background-color: #eeeff1;
    margin: 0 0 0 0;
    padding: 0;
    border: 0;
}
.projectsContent {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0;
    border: 0;
    // background-color: blue;
}
.projectsContent a {

    position: relative;
    max-width: 480px;
    max-height: 480px;
    width: 24vw;
    height: 24vw;
    margin: 0 0 0 0;
    padding: 0;
    border: 0;
    // background-color: indigo;
}
.projectsContentImg {
    display: block;
    max-width: 480px;
    max-height: 480px;
    width: 24vw;
    height: 24vw;
    margin: 0 0 0 0;
    padding: 0;
    border: 0;
    // background-color: lawngreen;
    object-fit: cover;

    // object-fit:cover;
}
.projectsContentOverlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background:#34537abc;
    opacity: 0;
    transition: opacity .5s;  
}

.projectsContentImgHover{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 58px;
    transform: translate(-50%, -50%);
  }
  .projectsContent a:hover .projectsContentOverlay{
      display: block;
    opacity: 1;
  }


.break {
    flex-basis: 100%;
    height: 0;
}
.break2Img {
    display: none;
}
.break3Img {
    display: none;
}



//clients


.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    min-height: 292px;
    // background-color: #d439a1;
    margin: 0 0 0 0;

}
.clientsContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    // background-color: #38c433;
    margin: 0 0 0 0;

}
.clientsContent img {
    width: 255px;
    height: 120px;
    margin: 0 0 0 0;

}


//form


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    min-height: 762;
    background-color: #EEEFF1;
}
.formdDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 540px;
    min-height: 150px;
    margin: 100px 0 0 0;
    // background-color: blueviolet;
}
.formdDescription h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    // background-color: chocolate;

}
.formdDescription p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    // background-color: crimson;
}
.formForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 540px;
    min-height: 350px;
    margin: 65px 0 100px 0;
    // background-color: blueviolet;
}
.formFormTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 540px;
    margin: 0 0 0 0;
    // background-color: rgb(25, 153, 83);
}
.formFormTopLeft, .formFormTopRight {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 255px;
    min-height: 50px;
    // background-color: #900;
}
// .formFormTop input {
//     box-sizing: border-box;
//     padding: 0 0 0 20px;
//     width: 255px;
//     height: 50px;
// }
.formForm textarea {
    box-sizing: border-box;

    padding: 20px 0 0 20px;

    width: 540px;
    height: 175px;
}
.formFormSubmit {
    height: 55px;
    width: 190px;
    background-color: var(--color-greyBlue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.15em;
    text-align: center;
    color: white;

}
//CSS для валидации форм
#Uname, #mail {
    -webkit-appearance: none;
  
    width: 255px;
    height: 50px;
    border: 1px solid #333;
    margin: 0;
  
    // font-family: inherit;
    // font-size: 90%;
  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  /* Наш стиль для невалидных полей */
  input:invalid{
    border-color: rgb(223, 93, 102);
    background-color: rgb(233, 195, 201);
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  /* Это стиль для сообщений об ошибке */
  .errorEmail, .errorUserName {
    position: absolute;
    top: 100%;
    // width  : 100%;
    padding: 0;
  
    // font-size: 80%;
    color: white;
    background-color: rgb(37, 14, 117);
    border-radius: 0 0 5px 5px;
  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .errorEmail.active, .errorUserName.active {
    padding: 0.3em;
  }





//footer


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    min-height: 151px;
    background-color: var(--color-greyBlue);
}
.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    width: 100%;
}
.footerContentLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    min-height: 51px;
    // background-color: hotpink;
}
.footerContentLeft h3 {
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
margin: 0;
padding: 0;
color: #fff;
// background-color: green;

}
.footerContentLeft p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #fff;
    // background-color: gold;
}
.footerContentRigch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 23px;
    max-width: 180px;
    width: 100%;
    // background-color: indigo;
    // margin: 0;
    // padding: 0;
}
.footerContentRigch img {
    height: 23px;
    width: auto;
    // background-color: hotpink;
}