@font-face {
    font-family: 'Revalia';
    src: url('fonts/Revalia/Revalia-Regular.eot');
    src: url('fonts/Revalia/Revalia-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Revalia/Revalia-Regular.woff2') format('woff2'),
        url('fonts/Revalia/Revalia-Regular.woff') format('woff'),
        url('fonts/Revalia/Revalia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

